@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    padding-left: 10px;
}

.login:hover {
    transition: ease 0.3s;
    color: #1e293b;
    background-color: white;
    opacity: 1.5px;
}

.register {
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    padding-left: 10px;
}

.register:hover {
    transition: ease 0.3s;
    color: #1e293b;
    background-color: white;
    opacity: 1.5px;
}
