@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap");

body {
    background-color: #181f2b;
    min-width: 768px;
    min-height: 100%;
}

.login {
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    padding-left: 10px;
}

.login:hover {
    transition: ease 0.3s;
    color: #1e293b;
    background-color: white;
    opacity: 1.5px;
    font-weight: 600;
}

.register {
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    padding-left: 10px;
}

.register:hover {
    transition: ease 0.3s;
    color: #1e293b;
    background-color: white;
    opacity: 1.5px;
    font-weight: 600;
}

header {
    width: 100%;
    min-height: 60px;
    max-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    min-height: 0;
    min-width: 768px;
    max-width: 100vw;
    width: 100%;
    height: 90.3vh;
    background-color: #181f2b;
}

main section {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    max-width: 55%;
    border: 1px solid #181f2b;
}
main section strong {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}
main section h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
main section p {
    font-family: "Inter", sans-serif;
}
.hero {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.joinUs {
    display: block;
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.joinUs a {
    background-color: #334155;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-weight: 600;
}

.joinUs a:hover {
    transition: ease 0.5s;
    background-color: white;
    color: #181f2b;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
}

.content-header {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    color: white;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #525c6d;
}

@media screen and (max-width: 768px) {
    header {
        max-width: 1200px;
        width: 768px;
    }
    body {
        background-color: #181f2b;
    }
    main {
        background-color: #181f2b;
    }
}
